importFrom("stats","qqplot","density","dnorm","rnorm","dgamma","rpois","rnbinom","dweibull","dlnorm","median","ftable","optim","pcauchy","pgamma","plnorm","pweibull","qgamma","qlnorm","qweibull","rgamma","rlnorm","runif","rweibull","sd","uniroot","weights","nlm","quantile","splinefun","var","rbinom", "qbinom", "pbinom", "ppois", "qpois", "dcauchy", "qcauchy", "rcauchy")
importFrom("utils","setTxtProgressBar","txtProgressBar")
importFrom("ReIns","MEfit","SpliceFitGPD")
importFrom("graphics","abline","curve","lines","par","points","plot")
importFrom("MASS","fitdistr")
importFrom("actuar", "dlgamma", "plgamma", "rlgamma", "qlgamma" )
importFrom("pracma", "integral", "quadinf")
importFrom("tea", "dAMSE", "danielsson", "DK", "GH", "gomes", "hall", "Himp", "HW", "mindist", "RT")
import(truncnorm)
import(VineCopula)
export("dgpd","pgpd","qgpd","rgpd","rgh","dgh","pgh","qgh","dsevdist","psevdist","qsevdist","rsevdist","fitSplicedBayesKDEGPD","fitSplicedBayesLognormGPD","fitSplicedBayesWeibullGPD","fitSplicedBayesGammaGPD","dmixing","pmixing","qmixing","rmixing","dspliced","pspliced","qspliced","rspliced","goftest","fitMixing","fitPlain","fitSpliced","fitThreshold","fitSplicedPar","fitSplicedBestFit","mcSim","fitWeights","buildSplicedSevdist","buildMixingSevdist","buildPlainSevdist","sla","buildFreqdist","fitFreqdist","evaluate","qsevdist","print.sevdist","plot.sevdist", "qqplot.sevdist","fitDependency","VaR", "print.freqdist")
S3method(print, sevdist)
S3method(plot, sevdist)
S3method(print, freqdist)
