importFrom("stats","density","dnorm","rnorm","dgamma","rpois","rnbinom","dweibull","dlnorm","median","integrate","optim","pcauchy","pgamma","plnorm","pweibull","qgamma","qlnorm","qweibull","rgamma","rlnorm","runif","rweibull","sd","uniroot","weights","nlm","quantile","splinefun","var","rbinom")
importFrom("utils","setTxtProgressBar","txtProgressBar")
importFrom("ReIns","MEfit","SpliceFitGPD")
importFrom("graphics","abline","curve","lines","par","points","plot")
importFrom("MASS","fitdistr")
importFrom("pracma", "integral")
import(evmix)
import(goftest)
import(truncnorm)
import(VineCopula)
import(tea)
import(vcd)
import(actuar)
export("dgpd","pgpd","qgpd","rgpd","rgh","dgh","pgh","qgh","dsevdist","psevdist","qsevdist","rsevdist","fitSplicedBayesKDEGPD","fitSplicedBayesLognormGPD","fitSplicedBayesWeibullGPD","fitSplicedBayesGammaGPD","dmixing","pmixing","qmixing","rmixing","dspliced","pspliced","qspliced","rspliced","goftest","fitMixing","fitPlain","fitSpliced","fitThreshold","fitSplicedPar","fitSplicedBestFit","mcSim","fitWeights","buildSplicedSevdist","buildMixingSevdist","buildPlainSevdist","sla","buildFreqdist","fitFreqdist","evaluate","qsevdist","print.sevdist","plot.sevdist","fitDependency","VaR", "print.freqdist")
S3method(print, sevdist)
S3method(plot, sevdist)
S3method(print, freqdist)
